listen_addresses = '{% for address in postgres_listen %}{{ address }}{% if not loop.last %}, {% endif %}{% endfor %}'
port = {{ postgres_port }}
max_connections = {{ postgres_max_connections }}
shared_buffers = {{ postgres_shared_buffers }}
work_mem = {{ postgres_work_mem }}
default_text_search_config = '{{ postgres_text_search_config }}'
wal_level = {{ postgres_wal_level }}
max_wal_senders = {{ postgres_max_wal_senders }}
max_wal_size = {{ postgres_max_wal_size }}
